.main{
    width: 100%;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 100%;
    float: left;
    height: 70px;
}
.logo{
    color: rgba(161, 7, 7, 0.829);
    font-family: Arial;
    text-align: center;
    align-content: center;
    float: auto;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;  
}
ul{
    align-content: center;
    width: 1170px;
    height: 50px;
    background: linear-gradient(to top,rgba(161, 7, 7, 0.829)50%,rgba(161, 7, 7, 0.829)50%);
    display: flex;
    margin-top: 70px;
    
}
ul li{
    list-style: none;
    margin-top: 16px;
    margin-left: 100px;
    font-size: 15px;
}
ul li a{
    text-decoration: wavy;
    color: rgba(255, 255, 255, 0.829);
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding-left: 60px;
}
ul li a:hover{
    color: rgb(0, 0, 0);
}

.table{
    position: absolute;
    margin: 0;
    padding-top: 60px;
    padding-left: 500px;
    float: left;
    align-content: center;
    margin-top: 150px;
}
.heading{
    text-align: center;
    padding-bottom: 5px;
}
.content-table{
    border-collapse: collapse;
    margin: 0px 0;
    font-size: 1em;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.15);
}
.content-table thead tr{
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bold;
}
.content-table th,.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: rgb(255, 235, 235);
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid brown;
}
.content-table a{
    text-decoration: wavy;
    color: rgba(0, 0, 0, 0.829);
    font-family: Arial;
    font-weight: bold 70%;
    transition: 0.5s ease-in-out;
}
.content-table a:hover{
    text-decoration: underline;
}

.content-table-objectives{
    border-collapse: collapse;
    margin: 0px 0;
    font-size: 1em;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.15);
}

.content-table-objectives thead tr{
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bold;
}
.content-table-objectives th,.content-table-objectives td{
    padding: 12px 15px;
}
.content-table-objectives tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table-objectives tbody tr:nth-of-type(even){
    background-color: rgb(255, 235, 235);
}