
.header h1{
    color: rgb(226, 0, 0);
    position: relative;
    font-size: 40px;
    text-align: center;
  
}
.header h2{
    text-align: center;
    color: rgba(161, 7, 7, 0.829);
    font-family: Arial;
    margin-top: 0px;
    align-content: center;
    float: auto;
    
}
.header h3{
    text-align: center;
    color: rgba(161, 7, 7, 0.829);
    font-family: Arial;
    margin-top: -10px;
    margin-bottom: 5px;
    align-content: center;
    float: auto;
}

.header img{
    float: left;
    
    background: rgb(255, 255, 255);
}
.placeh{
    position: sticky;
    background-color: #160d0d;
    margin-top: 0;
    top:0;
  
}
.placeh ul{
    
    list-style: none;
    margin: 60;
    padding:100;
    overflow: hidden;
    align-items: center;
}
.placeh li{
    float: left;
    z-index: auto;
}
.placeh li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-weight: bold;
}



.placeh2{
    display: block;
    background-color: rgb(207, 18, 18);
    font:13px/1.5 Verdana;
    width: 150px;
    height: 100%;
    margin-right: auto;
    float: left;
    position:sticky;
    top: 47px;
}
.placeh2 ul{
    list-style: none;
    margin: 10px;
    padding:6px;
    overflow: hidden;
    align-items: left;
    text-align: center;
    width:100%;
    height: 100%;
    margin-top: 0;
    padding-top:0; 
    padding-right: 0px;
   
}
.placeh2 li{
    
    z-index: index;
}
.placeh2 li a{
  border-left-color: #3c8dbc;
  display: block;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 14px 0px;
  text-decoration: none;
  transition: 0.4s;
  font-size: medium;
}
.placeh2 ul li :hover{
    padding-left: 3px;
}

.temp{
    margin-top: 10px;
    width: 80vw;
    margin-left: 12vw;

}
.Aim{
    margin-left: 12vw;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    

}
.centre{
    align-content: center;
    margin-left: 500px;
}
