.Exp1view{
    margin-bottom: 5px;
    margin-top: 5px;
    position: sticky;
    top: 58px;
    background-color: white;
    border: 10px white;
}
.placeh{
    position: sticky;
    background-color: #ffffff;
    margin-top: 0;
    top:0;
  
}
.placeh ul{
    
    list-style: none;
    margin: 60;
    padding:100;
    overflow: hidden;
    align-items: center;
    border-style: solid;
    border-width: 1.5px;
    border-bottom-width: 2.5px;
    border-left: #9a2827;
    border-right: #9a2827;
}
.placeh li{
    float: left;
    z-index: auto;
}
.placeh li a{
    display: block;
  color: #3a3a3a;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-weight: bold;
}

.placeh2{
    background-color: #9a2827;
    font:13px/1.5 Verdana;
    width: 150px;
    float: left;
    position:sticky;
    top: 84px;
    margin-left: 0px;
    border-radius: 5px;
    
}
.placeh2 ul{
    position: relative;
    width: 100%;
    padding: 0px;
    
}
.placeh2 ul li{
   list-style: none;
    box-shadow: 0 5px 25px rgb(0,0,0,.1);
    width: 100%;
}

.placeh2 ul li a{
    width:100%;
  border-left-color: #ffffff;
  display:inline-block;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 10px;
  text-decoration: none;
  transition: 0.4s;
  font-size: medium;
  padding: 10px;
}

.placeh2 ul li :hover{
    color: #9a2827;
    padding-right:3px;
    transform: scale(1);
    z-index: 100;
    background: #ffffff;
    background-position:center ;
    box-shadow: 0 5px 25px rgb(0,0,0,.1);
    border-radius: 5px;
    border-left: 10px solid #ffffff ;
}
.placeh2 ul li :hover a{
    border-left: 10px solid #ff0000 ;
}
.placeh2 ul li.active{
    color: #9a2827;
    padding-right:3px;
    transform: scale(1);
    z-index: 100;
    background: #ffffff;
    background-position:right ;
    box-shadow: 0 30px 25px rgb(0,0,0,.1);
    border-radius: 8px;
    border: 1px solid #9a2827;
    background-size: 70px 40px;
    background-repeat: no-repeat;
}

.theoryppt{
    width: 780px;
    float: left;
    margin-left: 150px;

}
.Aim{
    margin-left: 12vw;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.Aim li{
    padding-top: 10px
}

.centre{
    align-content: center;
    margin-left: 500px;
}

.download-btn{
    background-color: #9a2827;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius:5px;
}

.download-btn:hover {
    background-color: RoyalBlue;
  }

  table,th{
      text-align: center;
  }
  table,th,td{
      border: solid black;
      width: 600px;
      text-align: center;
      font-weight: bold;
      color:black;
  }
.tab{
    overflow: hidden;
    border: 1px solid rgb(255, 157, 0);
    background-color: #ebe708;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    
  }
  .tab button:hover {
    background-color: rgb(230, 114, 6);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(212, 13, 13);
  }
